@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

* {
  font-family: 'Dosis', sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #141414;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.movie-grid {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  gap: 0.3vw;
  padding: 2vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo_and_title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  display: inline-block;
  height: 8vw;
  width: auto;
  margin-right: 2vw;
}

h1 {
  display: inline-block;
  font-family: 'Rubik Glitch', system-ui;
  font-style: normal;
  color: orange;
}

.Recherche {
  margin-top: 2vh;
  padding: 1vh;
  font-family: 'Dosis', system-ui;
  background-color: #b7b7b72c;
  color: orange;
  font-size: large;
  font-weight: 600;
  border-radius: 10px;
  border: rgba(255, 166, 0, 0.638) thin solid;
  height: 7vh;
  margin-left: 10vw;
}

.Recherche:hover {
  border: rgba(255, 166, 0) solid thin;
}
